<div class="pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Agregar Cliente</h1>
</div>

<!-- Formulario de clientes -->
<form [formGroup]="customerForm" (ngSubmit)="submitCustomerData()" novalidate>
  <div class="row">

    <div class="col-lg-6 col-sm-12">
      <label>Nombre</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-user"></i></span>
        </div>
        <input type="text" formControlName="firstName" class="form-control" required>
        <!-- Mostrar errores de validacion -->
      </div>
      <p *ngIf="firstName.touched && firstName.invalid" class="error"><sup>*</sup>Por favor ingrese almenos un nombre
      </p>
      <p *ngIf="firstName.errors?.minlength" class="error"><sup>*</sup>El nombre debe contener más de 2 letras</p>
    </div>

    <div class="col-lg-6 col-sm-12">
      <label>Apellidos</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-id-card"></i></span>
        </div>
        <input type="text" formControlName="lastName" class="form-control">
      </div>
    </div>

    <div class="col-lg-6 col-sm-12">
      <label>Correo Electrónico</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-envelope"></i></span>
        </div>
        <input type="email" formControlName="email" class="form-control" required>
      </div>
      <!-- Mostrar errores de validacion -->
      <p *ngIf="email.touched && email.invalid" class="error"><sup>*</sup>Por favor ingrese un correo</p>
      <p *ngIf="email.errors?.pattern" class="error"><sup>*</sup>Por favor ingrese un correo electrónico</p>
    </div>

    <div class="col-lg-6 col-sm-12">
      <label>Número de Télefono</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-phone"></i></span>
        </div>
        <input type="number" formControlName="mobileNumber" class="form-control" required>
      </div>
      <!-- Mostrar errores de validacion -->
      <p *ngIf="mobileNumber.touched && mobileNumber.invalid" class="error"><sup>*</sup>Por favor ingrese un contacto 
        number</p>
      <p *ngIf="mobileNumber.errors?.pattern" class="error"><sup>*</sup>Solamente use números
        number</p>
    </div>
    
  </div>

  <div class="row">

    <div class="col-lg-4 col-sm-12">
      <label>Fecha de Nacimiento</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
        </div>
        <input 
        type="date" 
        formControlName="dateBirth" 
        value="" 
        [ngModel]="BirthDate | date:'yyyy-MM-dd'"
        class="form-control">
      </div>
    </div>

    <div class="col-lg-4 col-sm-12">
      <label>Sexo</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-venus-double"></i></span>
        </div>
        <select class="form-control" formControlName="dateGenre">
          <option>Hombre</option>
          <option>Mujer</option>
          <option>Prefiero no registrarlo</option>
        </select>
      </div>
    </div>

    <div class="col-lg-4 col-sm-12">
      <label>Dirección</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
        </div>
        <input type="text" formControlName="dateLocation" class="form-control">
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-lg-12 col-sm-12">

      <label>Cliente Premium</label>

      <div class="form-check">
        <input type="radio" value="true" formControlName="customerState">
        <label class="form-check-label" for="exampleRadios1">
          Si
        </label>
      </div>
      <div class="form-check">
        <input type="radio" value="false" formControlName="customerState">
        <label class="form-check-label" for="exampleRadios2">
          No
        </label>
      </div>

    </div>
  </div>

  <div class="row mt-5">
    <div class="col-lg-12 col-sm-12">
      <div class="form-group text-left">
        <button type="button" class="btn btn-secondary gap-right" (click)="ResetForm()">Limpiar Campos</button>
        <button type="submit" class="btn btn-success" [disabled]="!customerForm.valid">Guardar Cliente</button>
      </div>
    </div>
  </div>


</form>
<!-- Termina el formulario de clientes-->